@model IEnumerable<Group11_007_iCAREAPP.Models.iCare_Worker>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iCareUser.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole.roleName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iCareUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole.roleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
